<!doctype html>
<html>
<head>
  <title>Listen to Weather</title>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

  <h1>Listen to Weather</h1>

  <h2>Last 10 visits</h2>
{% for time in times %}  <p>{{ time['timestamp'] }}</p>
{% endfor %}

  <h1>Listen to music!</h1>
  <a href="#" class="myButton">Play</a>

  <form action="/" method="post">
  	Enter a city: <input type="text" name="city_holder">
  	<input type="submit">
  </form>

  {{ weather.get_weather_id() }}

  <img src="{{weather.get_weather_icon()}}">

</body>
</html>